In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bcsc_risk_factors.csv')

In [3]:
print("DataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1522340 entries, 0 to 1522339
Data columns (total 13 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   year                   1522340 non-null  int64
 1   age_group_5_years      1522340 non-null  int64
 2   race_eth               1522340 non-null  int64
 3   first_degree_hx        1522340 non-null  int64
 4   age_menarche           1522340 non-null  int64
 5   age_first_birth        1522340 non-null  int64
 6   BIRADS_breast_density  1522340 non-null  int64
 7   current_hrt            1522340 non-null  int64
 8   menopaus               1522340 non-null  int64
 9   bmi_group              1522340 non-null  int64
 10  biophx                 1522340 non-null  int64
 11  breast_cancer_history  1522340 non-null  int64
 12  count                  1522340 non-null  int64
dtypes: int64(13)
memory usage: 151.0 MB
None

In [4]:
df.head()

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count
0,2005,1,1,0,0,0,2,0,1,9,0,0,2
1,2005,1,1,0,0,0,4,0,1,1,0,0,1
2,2005,1,1,0,0,0,4,0,1,2,0,0,1
3,2005,1,1,0,0,0,4,0,1,9,0,0,2
4,2005,1,1,0,0,1,4,0,1,4,0,0,1

In [5]:
df['breast_cancer_history'].value_counts()

breast_cancer_history
0    969662
9    330902
1    221776
Name: count, dtype: int64

In [6]:
df["count"].value_counts()

count
1       856114
2       235792
3       112609
4        65940
5        43644
         ...
1499         1
666          1
2643         1
645          1
619          1
Name: count, Length: 694, dtype: int64

In [7]:
df = df[df["breast_cancer_history"].isin([0, 1])]
df["cancer_diagnosis"] = df["breast_cancer_history"]
print(df["cancer_diagnosis"].value_counts())

cancer_diagnosis
0    969662
1    221776
Name: count, dtype: int64

In [8]:
df.head()

,year,age_group_5_years,race_eth,first_degree_hx,age_menarche,age_first_birth,BIRADS_breast_density,current_hrt,menopaus,bmi_group,biophx,breast_cancer_history,count,cancer_diagnosis
0,2005,1,1,0,0,0,2,0,1,9,0,0,2,0
1,2005,1,1,0,0,0,4,0,1,1,0,0,1,0
2,2005,1,1,0,0,0,4,0,1,2,0,0,1,0
3,2005,1,1,0,0,0,4,0,1,9,0,0,2,0
4,2005,1,1,0,0,1,4,0,1,4,0,0,1,0